Source: tibackup
Section: admin
Priority: optional
Maintainer: Rene Hadler <rene@iksdeh.at>
Build-Depends: debhelper (>= 8.0.0)

Package: tibackup
Architecture: amd64
Depends: ${shlibs:Depends}, tibackuplib (>= 0.6.2-2)
Conflicts:
Replaces:
Provides: tibackup
Description: Main tibackup program
